@charset "utf-8";

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header h1 {
    padding-top: 15px;
    font-variant: small-caps;
    
}

header p {
    color: white;
    padding-bottom: 40px;
}

header a, footer a {
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(51, 51 , 51);
    color: white;
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.473);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}